  
{% include 'adminheader.html'%}

  <!--./ NAV BAR END -->
    <div id="home" >
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-9 col-md-9 head-text">
                        <h1 id="divDisp" >WHY WE NEED DONATIONS ?</h1>
                        <span >
                            <i class="fa fa-lightbulb-o " ></i>For Planting new plants
                        </span>
                        <span>
                            <i class="fa fa-lightbulb-o" ></i>For Promoting Eco Education in Schools
                        </span>
                        
                        <span >
                            <i class="fa fa-lightbulb-o" ></i>Encouraging Eco Friendly Methods
                        </span>
                        <span >
                            <i class="fa fa-lightbulb-o" ></i>Recycling Waste and garbage
                        </span>
                        <span >
                            <i class="fa fa-lightbulb-o" ></i>For Maintaing ecological balance
                        </span>
                        <span >
                            <i class="fa fa-lightbulb-o" ></i>To Research new eco friendly techniques
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-3">
                       

                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <!--./ HOME SECTION END -->
    {% include 'footer.html'%}