 {% include 'factoryheader.html'%}
  <!--./ NAV BAR END -->
    <div id="home" >
        <div class="overlay">
            <div class="container">


                <center>
    <h1 style="color: white">Manage Types</h1>
    <form method="post" enctype="multipart/form-data">
        {% if data['typesup']%}
        <table class="table" style="width: 500px;color: white">
        <tr>
            <th>Types</th>
            <td><input type="text" required="" class="form-control" value="{{data['typesup'][0]['types']}}" name="types"></td>
        </tr>
         <tr>
            <th>Image</th>
            <td><input type="file" required="" class="form-control"  name="img"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" class="btn btn-success" name="update"></td>
        </tr>
    </table>
    {% else %}
    <table class="table" style="width: 500px;color: white">
        <tr>
            <th>Types</th>
            <td><input type="text" required="" class="form-control" name="types"></td>
        </tr>
         <tr>
            <th>Image</th>
            <td><input type="file" required="" class="form-control"  name="img"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" class="btn btn-success" name="addTypes"></td>
        </tr>
    </table>
    {% endif %}
    </form>
</center>

                            </div>
                        </div>
                    </div>
                </div>
                </div></div></div>
<center>
    <h1>View Types</h1>
    <table class="table" style="width: 500px">
        <tr>
            <th>Slno</th>
            <th>Types</th>
            <th></th>

        </tr>
        {% for row in data['types']%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{row['types']}}</td>
            <td><img src="/{{row['image']}}" width="100" height="100"></td>
            <td><a class="btn btn-success" href="?action=delete&pid={{row['type_id']}}">delete</a></td>
            <td><a class="btn btn-success" href="?action=update&pid={{row['type_id']}}">Update</a></td>
            <!-- <td><a  class="btn btn-success" href="managepackage?pid={{row['type_id']}}">Manage Package</a></td> -->
        </tr>

        {%endfor %}
    </table>
</center>
              
                </div>

            </div>

        </div>


   
    <!--./ HOME SECTION END -->
    {% include 'footer.html'%}