  <!--./ FOOTER SECTION END -->
    <!--  Jquery Core Script -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/static/assets/js/bootstrap.js"></script>
     <!--  WOW Script -->
    <script src="/static/assets/js/wow.min.js"></script>
    <!--  Scrolling Script -->
    <script src="/static/assets/js/jquery.easing.min.js"></script>
    <!--  PrettyPhoto Script -->
    <script src="/static/assets/js/jquery.prettyPhoto.js"></script>
    <!--  Custom Scripts -->
    <script src="/static/assets/js/custom.js"></script>
   
</body>
</html>
