<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.metrostation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Ecovault "
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Metrostation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".deliveryboy_viewpayment"
            android:exported="false" />
        <activity
            android:name=".otp"
            android:exported="false" />
        <activity
            android:name=".viewrequest"
            android:exported="false" />
        <activity
            android:name=".trackdeliveryboy"
            android:exported="false" />
        <activity
            android:name=".deliveryboy_viewassign"
            android:exported="false" />
        <activity
            android:name=".deliveryboyaddvehicle"
            android:exported="false" />
        <activity
            android:name=".user_Sendrequest"
            android:exported="false" />
        <activity
            android:name=".viewtype"
            android:exported="false" />
        <activity
            android:name=".deliveryhome"
            android:exported="false" />
        <activity
            android:name=".userhome"
            android:exported="false" />
        <activity
            android:name=".userregistration"
            android:exported="false" />
        <activity
            android:name=".devilieryboyregistration"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />

        <service android:name=".LocationService" />

        <activity
            android:name=".Ipsettings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>